body {
  background-image: linear-gradient(
    180deg,
    rgba(34, 195, 126, 1) 0%,
    rgba(45, 253, 62, 1) 100%
  );
  background-repeat: no-repeat;
  height: 97vh;
}
.login-box {
  background-color: antiquewhite;
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgb(61, 61, 61);
  margin: auto;
  vertical-align: baseline;
}
