.Header {
  height: 19vh;
}
.Header-logo {
  width: 6rem;
  height: 6rem;
  margin-left: 2%;
  margin-top: 4%;
  filter: drop-shadow(2px 2px 4px #999999);
}
.Header-main {
  display: flex;
  margin-top: -0.75%;
  justify-content: space-between;
}
.Header-greeting {
  margin-top: 1.75rem;
  margin-left: 0.25rem;
  text-shadow: 2px 2px 4px #999999;
}
.Header-time {
  margin-top: 1.8rem;
  margin-right: 4%;
  float: right;
  text-align: right;
}
.Header-intro{
  display: flex;
  flex-direction: row;
  width:20%;
  margin-left: 2%;
}